/*====================================================================
reset.css

Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
=================================================================== */

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
button,
table,
tr,
th,
td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}

a {
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	vertical-align: bottom;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
	-webkit-appearance: none;
	border-radius: 0;
}

/*=======================
全体共通
====================== */

body {
	background-color: #f3f3f3;
	color: #3e3e3e;
	font-family: "Montserrat", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	font-size: 16px;
	position: relative;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
}

a {
	color: #3e3e3e;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

a:hover {
	cursor: pointer;
}

.is-pc {
	display: block;
}

.is-sp {
	display: none;
}

/*=======================
button
====================== */

.contact-link-btn {
	border-radius: 10px;
	box-shadow: 0 3px 5px 0 rgba(62, 62, 62, 0.2);
	height: 50px;
	margin-top: 40px;
	width: 282px;
}

.contact-link-btn a {
	background-color: #ffaa3b;
	border-radius: inherit;
	color: #ffffff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	height: inherit;
	letter-spacing: 0.025em;
	line-height: 50px;
	text-align: center;
	width: 100%;
}

.contact-link-btn a:hover {
	background-color: #f18900;
}

.util-btn {
	border: 1px solid #707070;
	height: 64px;
	margin-top: 40px;
	width: 236px;
}

.util-btn a {
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	height: 100%;
	letter-spacing: 4px;
	line-height: 1.125;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.util-btn a:hover {
	background-color: #3e3e3e;
	color: #ffffff;
}

.util-btn--black {
	border-color: #ffffff;
}

.util-btn--black a {
	background-color: transparent;
	color: #ffffff;
}

.util-btn--black a:hover {
	background-color: #ffffff;
	color: #3e3e3e;
}

.util-btn--position {
	margin: 40px auto 0;
}

.results-btn {
	width: 289px;
}

/*=======================
inner
====================== */

.inner {
	height: inherit;
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.inner--width {
	max-width: 1280px;
}

/*=======================
Section Title
====================== */

.util-title {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.22222;
	text-align: center;
}

.util-title--color {
	color: #ffffff;
}

.util-title--position {
	text-align: left;
}

.util-title--position-sp {
	text-align: center;
}

/*=======================
Access
====================== */

/*=======================
Comments
====================== */

/*=======================
Contact Us
====================== */

/*=======================
Footer
====================== */

/*=======================
Header (PC)
====================== */

.header {
	background-color: rgba(255, 255, 255, 0.1);
	height: 83px;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.header__nav {
	display: flex;
	height: inherit;
	justify-content: center;
	line-height: 83px;
}

.header__nav-item:nth-child(n + 2) {
	margin-left: 40px;
}

.header__nav-item a {
	display: inline-block;
	position: relative;
}

.header__nav-item a::after {
	background-color: #3e3e3e;
	bottom: 25px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 0;
}

.header__nav-item a:hover::after {
	width: 100%;
}

/*=======================
Header (SP)
====================== */

/*=======================
News
====================== */

.news {
	padding: 120px 0;
}

.news__box {
	background-color: #ffffff;
	box-shadow: 0 5px 12px 0 #3e3e3e33;
	max-width: 1200px;
	padding: 60px 60px 40px;
	width: 100%;
}

.news__item {
	align-items: center;
	border-bottom: 1px solid #cecdcd;
	display: flex;
	padding: 40px 0;
	position: relative;
}

.news__item:first-child {
	border-top: 1px solid #cecdcd;
	margin-top: 60px;
}

.news__item::after {
	background: transparent url("../img/news-arrow.svg") no-repeat center center/contain;
	content: "";
	height: 22px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	width: 11px;
}

.news__item a {
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.news__item a:hover {
	background-color: rgba(73, 115, 255, 0.1);
}

.news__item-date {
	display: flex;
	width: 299px;
}

.news__item-datetime {
	font-size: 18px;
	letter-spacing: 0.45px;
	line-height: 1.44444;
}

.news__item-icon {
	border: 2px solid #3b69ff;
	border-radius: 50px;
	font-size: 14px;
	height: 30px;
	line-height: 26px;
	margin-left: 40px;
	text-align: center;
	width: 117px;
}

.news__item-body {
	align-items: center;
	display: flex;
	font-size: 18px;
	letter-spacing: 0.45px;
	line-height: 1.55556;
	width: calc(100% - (299px + 83px));
}

.news__item-arrow {
	margin-left: auto;
}

/*=======================
Price
====================== */

.price {
	padding-bottom: 120px;
	padding-top: 120px;
}

.price__box {
	margin: 60px auto 0;
	max-width: 960px;
	width: 100%;
}

.price__box table {
	border: 1px solid #707070;
	border-collapse: collapse;
	width: 100%;
}

.price__box table tr th,
.price__box table tr td {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.20833;
}

.price__box table tr th {
	background-color: #3e3e3e;
	border-top: 1px solid #ffffff;
	color: #ffffff;
	max-width: 262px;
	padding: 16px 0;
	width: 27.3%;
}

.price__box table tr .th-top {
	border-top: 1px solid #707070;
}

.price__box table tr td {
	background-color: #ffffff;
	border: 1px solid #707070;
	max-width: 698px;
	padding-left: 40px;
	width: 72.8%;
}

.price__box p {
	font-size: 12px;
	line-height: 1.66667;
	margin-top: 12px;
}

/*=======================
Q&A
====================== */

/*=======================
Results
====================== */

.results__box {
	background-color: #3e3e3e;
	margin-left: auto;
	max-width: 1240px;
	padding: 60px 0 60px 60px;
	width: 100%;
}

.swiper-container {
	height: 100%;
	padding-bottom: 60px;
	width: 100%;
}

.swiper-wrapper {
	margin-top: 60px;
}

.swiper-slide {
	max-width: 400px;
	width: 100%;
}

.swiper-slide a {
	display: inline-block;
}

.swiper-slide a:hover {
	opacity: 0.7;
}

.swiper-slide-body {
	background-color: #ffffff;
	padding: 16px;
}

.swiper-slide-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
}

.swiper-slide-text {
	line-height: 1.5;
	margin-top: 16px;
}

.swiper-pagination {
	text-align: left;
}

.swiper-pagination-bullet {
	background-color: #ffffff;
	border: 3px solid #3e3e3e;
	height: 16px;
	opacity: 1;
	width: 16px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 6px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0;
}

.swiper-pagination-bullet-active {
	box-shadow: 0 0 0 1px #ffffff;
}

.swiper-pagination-bullet-active:focus {
	outline: none;
}

/*=======================
Service
====================== */

.service {
	padding: 60px 0 120px;
	position: relative;
}

.service::before {
	background-color: #3e3e3e;
	content: "";
	height: 400px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.service__items {
	background-color: #ffffff;
	box-shadow: 0 5px 12px 0 #3e3e3e33;
	display: flex;
	margin: 60px auto 0;
	max-width: 960px;
	padding: 60px 45px;
	width: 100%;
}

.service__item {
	text-align: center;
	width: calc(100% / 3 - 90px * 2 / 3);
}

.service__item:nth-child(n + 2) {
	margin-left: 90px;
}

.service__item-title {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 4px;
	line-height: 1.4;
	margin-top: 20px;
}

.service__item-title--margin-top {
	margin-top: 10px;
}

.service__item-text {
	font-size: 14px;
	line-height: 1.71429;
	margin-top: 20px;
	text-align: left;
}

/*=======================
Top
====================== */

.top {
	background: transparent url("../img/mv.png") no-repeat center center/cover;
}

.top__text {
	margin-left: auto;
	max-width: 600px;
	padding-bottom: 153px;
	padding-top: 236px;
	width: 100%;
}

.top__title {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 0.00063em;
	line-height: 1.5;
}

.top__sub-title {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.025em;
	line-height: 1.55556;
	margin-top: 40px;
}

/*=======================
To top トップへ戻るボタン
====================== */

.totop {
	bottom: 30px;
	position: fixed;
	right: 30px;
	z-index: 2;
}

@media screen and (max-width: 1199px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

.inner--width {
	padding-left: 0;
	padding-right: 0;
}

}

@media screen and (max-width: 767px) {

.section--sp {
	padding-bottom: 60px;
	padding-top: 40px;
}

.is-pc {
	display: none;
}

.is-sp {
	display: block;
}

.contact-link-btn {
	height: 48px;
	margin: 30px auto 0;
	width: 222px;
}

.contact-link-btn a {
	font-size: 16px;
	height: inherit;
	line-height: 48px;
}

.util-btn a {
	font-size: 18px;
	letter-spacing: 3.6px;
	line-height: 1.25;
	padding: 16px 0;
}

.util-btn {
	height: 54px;
	width: 268px;
}

.results-btn {
	margin: 24px auto 0;
	width: 316px;
}

.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.inner--width {
	padding-left: 0;
	padding-right: 0;
}

.util-title {
	font-size: 30px;
	line-height: 1.23333;
}

.header__sp {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 68px;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	width: 100%;
	z-index: 2;
}

.header__sp.open {
	background-color: #ffffff;
	transform: translateX(-250px);
}

.header__brand {
	height: inherit;
	line-height: 68px;
}

.header__brand a {
	display: inline-block;
	font-size: 23px;
	font-weight: bold;
}

.drawer-btn {
	background: transparent;
	cursor: pointer;
	height: 44px;
	padding-right: 12px;
	position: fixed;
	right: 0;
	top: 12px;
	transform: translateX(0);
	transition: transform 0.5s;
	width: 44px;
	z-index: 100;
}

.drawer-btn:focus {
	outline: none;
}

.drawer-btn.active {
	transform: translateX(-300px);
}

.close-btn {
	display: none;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	content: "";
	display: block;
	height: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.5s;
	width: 0;
	z-index: 3;
}

.overlay.open {
	height: 100%;
	opacity: 1;
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	min-height: 100vh;
	transition: all 0.5s;
}

main.open {
	transform: translateX(-300px);
}

nav {
	background-color: #ffffff;
	height: 100%;
	padding-top: 161px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate(300px);
	transition: all 0.5s;
	width: 300px;
	z-index: 10;
}

nav.open {
	transform: translateZ(0);
}

nav li {
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
}

nav li:nth-child(n + 2) {
	margin-top: 12px;
}

.news {
	padding: 0 0 60px;
	position: absolute;
	top: 650px;
}

.news__box {
	padding: 40px 0;
}

.news__item {
	display: block;
	padding: 14px 16px;
}

.news__item:first-child {
	margin-top: 40px;
}

.news__item-date {
	width: 100%;
}

.news__item-datetime {
	font-size: 14px;
}

.news__item-icon {
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	margin-left: 24px;
	width: 81px;
}

.news__item-body {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 1.42857;
	margin-top: 12px;
	width: calc(100% - 45px);
}

.price__box {
	margin: 40px auto 0;
}

.price__box table tr th,
.price__box table tr td {
	font-size: 20px;
}

.price__box table tr td {
	padding-left: 20px;
}

.results__box {
	padding: 40px 0;
}

.swiper-container {
	padding-bottom: 44px;
	padding-left: 16px;
}

.swiper-slide {
	max-width: 274px;
}

.swiper-slide-body {
	padding: 12px;
}

.swiper-slide-title {
	font-size: 14px;
	letter-spacing: 0.01px;
	line-height: 1.14286;
}

.swiper-slide-text {
	font-size: 12px;
	letter-spacing: 0.01px;
	line-height: 1.5;
	margin-top: 12px;
}

.swiper-pagination {
	text-align: center;
}

.service {
	margin-top: 586px;
	padding: 40px 0 60px;
}

.service::before {
	height: 480px;
}

.service__items {
	display: block;
	margin-top: 40px;
	padding: 40px 16px;
}

.service__item:nth-child(n + 2) {
	margin-left: 0;
	margin-top: 56px;
}

.service__item {
	width: 100%;
}

.service__item-title {
	line-height: 1.2;
}

.top {
	background-position: center left 22%;
}

.top__text {
	margin-top: 68px;
	padding-bottom: 230px;
	padding-top: 161px;
}

.top__title {
	font-size: 24px;
	letter-spacing: 0;
	line-height: 1.66667;
}

.top__sub-title {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 1.42857;
	margin-top: 32px;
}

}

