/*=======================
button
====================== */

.contact-link-btn {
    margin-top: 38px;
    width: 282px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba(62, 62, 62, 0.2);

    @include mq("sp") {
        margin: 28px auto 0;
        width: 222px;
        height: 48px;
    }

    a {
        border-radius: inherit;
        background-color: #ffaa3b;
        display: inline-block;
        height: inherit;
        width: 100%;
        line-height: 50px;
        color: $color-white;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.025em;
        text-align: center;

        &:hover {
            background-color: #f18900;
        }

        @include mq("sp") {
            height: inherit;
            line-height: 48px;
            font-size: $fz-base;
            letter-spacing: 0.1px;
        }
    }
}

.util-btn {
    margin-top: 40px;
    border: 1px solid #707070;
    width: 236px;
    height: 64px;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-weight: 600;
        line-height: (22.5 / 20);
        letter-spacing: 4px;
        // text-align: center;
        padding: 21px 79px;

        &:hover {
            background-color: $font-main-color;
            color: $color-white;
        }

        @include mq("sp") {
            font-size: 18px;
            line-height: (22.5 / 18);
            letter-spacing: 3.6px;
            padding: 16px 0;
        }
    }

    @include mq("sp") {
        width: 268px;
        height: 54px;
    }
}

.util-btn--black {
    border-color: $color-white;

    a {
        background-color: transparent;
        color: $color-white;

        &:hover {
            background-color: $color-white;
            color: $font-main-color;
        }
    }
}

.util-btn--position {
    margin: 37px auto 0;
}

.news-btn {
    @include mq("sp") {
        padding-left: 99px;
    }
}

.results-btn {
    width: 289px;
    margin-top: 38px;

    a {
        padding: 0;
        padding-left: 3px;
        line-height: 64px;
        text-align: center;

        @include mq("sp") {
            padding-left: 6px;
            line-height: 1.2;
        }
    }

    @include mq("sp") {
        width: 316px;
        margin: 24px auto 0;
    }
}

.access-btn {
    width: 100%;
    max-width: 314px;
    margin-top: 28px;

    a {
        letter-spacing: 2px;
        padding: 0;
        padding-left: 2px;
        line-height: 64px;
        text-align: center;

        @include mq("sp") {
            letter-spacing: 1.8px;
        }
    }

    @include mq("sp") {
        width: 100%;
        max-width: 339px;
        margin: 20px auto 0;
    }
}

/* contact 送信ボタン */
input[type="submit"] {
    display: block;
    margin-top: 41px;
    width: 173px;
    height: 50px;
    border-radius: 10px;
    background-color: #b2b2b2;
    color: $color-white;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0.45px;
    border: none;

    &.-active {
        background-color: #ffaa3b;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #f18900;
        }
    }

    @include mq("sp") {
        width: 165px;
        height: 48px;
        font-size: $fz-base;
        line-height: 48px;
        margin: 35px auto 0;
    }
}
