/*=======================
Section Title
====================== */
.util-title {
    font-size: 36px;
    line-height: (44 / 36);
    font-weight: 600;
    text-align: center;
    // padding-top: 60px;

    @include mq("sp") {
        font-size: 30px;
        line-height: (37 / 30);
        // padding-top: 0;
    }
}

.util-title--color {
    color: $color-white;
}

.util-title--position {
    text-align: left;
}

.util-title--position-sp {
    @include mq("sp") {
        text-align: center;
    }
}
