/*=======================
全体共通
====================== */
body {
    font-family: $ff-gothic;
    font-size: $fz-base;
    color: $font-main-color;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

a {
    color: $font-main-color;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

// section {
//     padding-top: 100px; //適宜指定
//     padding-bottom: 120px; //適宜指定
//     // width: 100%;
//     // height: 100%;

//     @include mq("tab") {
//         padding-top: 90px; //適宜指定
//         padding-bottom: 50px; //適宜指定
//     }
// }

.section--sp {
    @include mq("sp") {
        padding-top: 40px; //適宜指定
        padding-bottom: 60px; //適宜指定
    }
}

.is-pc {
    display: block;
}

.is-sp {
    display: none;
}

@include mq("sp") {
    .is-pc {
        display: none;
    }

    .is-sp {
        display: block;
    }
}
