/*=======================
Header (PC)
====================== */
.header {
    background-color: rgba(255, 255, 255, 0.1);
    height: 83px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.header__nav {
    display: flex;
    height: inherit;
    line-height: 83px;
    justify-content: center;
}

.header__nav-item {
    &:nth-child(n + 2) {
        margin-left: 40px;
    }

    a {
        display: inline-block;
        position: relative;
        letter-spacing: -0.4px;

        &::after {
            position: absolute;
            content: "";
            bottom: 25px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $font-main-color;
            transition: all 0.3s ease 0s;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }

        &.current {
            &::after {
                width: 100%;
            }
        }
    }
}

/*=======================
Header (SP)
====================== */
@include mq("sp") {
    .header__sp {
        width: 100%; // 適宜指定
        height: 68px; // 適宜指定
        background-color: $color-white; // 適宜指定
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .header__brand {
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
        line-height: 68px; // 適宜指定

        a {
            display: inline-block;
            font-size: 23px; // 適宜指定
            font-weight: bold; // 適宜指定
            padding-left: 16px; // 適宜指定
        }

        &.open {
            transform: translateX(-300px); // 適宜指定
            background-color: $color-white; // 適宜指定
        }
    }

    .drawer-btn {
        width: 44px; // 適宜指定
        height: 44px; // 適宜指定
        position: fixed;
        top: 12px; // 適宜指定
        right: 0;
        background: transparent;
        padding-right: 12px; // 適宜指定
        cursor: pointer;
        z-index: 100;
        transform: translateX(0);
        transition: transform 0.5s;

        &:focus {
            outline: none;
        }

        &.active {
            transform: translateX(-80vw); // 適宜指定
        }
    }

    .close-btn {
        display: none;
    }

    .overlay {
        content: "";
        display: block;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.5); // 適宜指定
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.5s;

        &.open {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }

    main {
        height: 100%;
        min-height: 100vh;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.open {
            transform: translateX(-80vw); // 適宜指定
        }
    }

    nav {
        width: 80vw; // 適宜指定 ※nav内で指定したtransform: translateX()の値と合わせる
        height: 100%;
        padding-top: 153px; // 適宜指定
        background-color: $color-white; // 適宜指定
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        transform: translateX(80vw); // 適宜指定 ※nav内で指定したwidthの値と合わせる
        transition: all 0.5s;

        &.open {
            transform: translateZ(0);
        }
    }

    nav li {
        font-size: 18px; // 適宜指定
        text-align: center; // 適宜指定
        padding: 10px 0; // 適宜指定

        &:nth-child(n + 2) {
            margin-top: 16px; // 適宜指定
        }
    }
}
