/*=======================
Q&A
====================== */
.faqs {
    padding-top: 62px;
    padding-bottom: 120px;
    position: relative;
    background-attachment: fixed;
    background: transparent url("../img/qa-bg.png") no-repeat center center / cover;

    // background-image: url("../img/qa-bg.png");
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;

    @include mq("tab-only") {
        background-attachment: scroll; // スマホとタブレット時の background-attachment: fixed; が効かない問題に対する対策
    }
}

.faqs__items {
    width: 100%;
    max-width: 612px;
    margin-left: auto;
    margin-top: 60px;

    &:hover {
        cursor: pointer;
    }

    @include mq("sp") {
        margin-top: 40px;
    }
}

.faqs__item {
    border-radius: 4px;
    padding: 11px 16px 16px;
    background-color: $color-white;

    &:nth-child(n + 2) {
        margin-top: 31px;

        @include mq("sp") {
            margin-top: 21px;
        }
    }
}

.accordion__head {
    font-weight: bold;
    line-height: (24 / 16);
    letter-spacing: 0.4px;
    padding-left: 40px;
    padding-right: 17px;
    padding-top: 6px;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 55%;
        transform: translateY(-50%);
        content: "Q";
        display: inline-block;
        text-align: center;
        color: $color-white;
        background-color: #3b69ff;
        width: 24px;
        height: 24px;
        font-weight: 600;
        border-radius: 999px;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 55%;
        transform: translateY(-50%);
        background: transparent url("../img/plus.svg") no-repeat center center / contain;
        width: 17px;
        height: 17px;
    }
}

.is-open {
    &::after {
        background-image: url("../img/minus.svg");
    }
}

.accordion__body {
    display: none;
    border-radius: 4px;
    margin-top: 16px;
    background-color: #d7e1ff; // IEだと #3b69ff33 が表示されず、他のブラウザでも近い色に変換されていた。今回は全てfirefoxのスポイトで確認出来たカラーコードにする。
    padding: 11px 16px;
    line-height: (24 / 16);

    @include mq("sp") {
        font-size: 14px;
        line-height: (20 / 14);
        padding: 11px 12px;
    }
}
