/*=======================
Service
====================== */
.service {
    position: relative;
    padding: 62px 0 120px;

    @include mq("sp") {
        margin-top: 575px;
        padding-bottom: 61px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 400px;
        background-color: $font-main-color;
        top: 0;
        left: 0;
        z-index: -1;

        @include mq('sp') {
            height: 480px;
        }
    }
}

.service__items {
    padding: 60px 45px;
    background-color: $color-white;
    width: 100%;
    max-width: 960px;
    margin: 60px auto 0;
    box-shadow: 0 5px 12px 0 #3e3e3e33;
    display: flex;

    @include mq("sp") {
        display: block;
        margin-top: 40px;
        padding: 40px 16px 36px;
    }
}

.service__item {
    width: calc(100% / 3 - 90px * 2 / 3);
    text-align: center;

    &:nth-child(n + 2) {
        margin-left: 90px;

        @include mq("sp") {
            margin-left: 0;
            margin-top: 53px;
        }
    }

    @include mq("sp") {
        width: 100%;
    }
}

.service__item-icon {
    margin-top: 17px;
}

.service__item-icon-pc {
    margin-top: 10px;
}


.service__item-title {
    margin-top: 21px;
    font-size: 20px;
    font-weight: 600;
    line-height: (28 / 20);
    letter-spacing: 4px;
    padding-left: 3px;

    @include mq('sp') {
        line-height: (24 / 20);
    }
}

.service__item-title--margin-top {
    margin-top: 16px;
}

.service__item-text {
    margin-top: 12px;
    font-size: 14px;
    line-height: (24 / 14);
    text-align: left;

    @include mq('sp') {
        margin-top: 16px;
    }
}
